<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Aplicación del Curso de Diseño Web Online 2014 Mejorando.la"/>
		<title>Puls2014</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</head>
	<body>
		<header class="Header">
			<figure class="Header-logoContainer">
				<img class="Header-logo" src="../static/images/logo.png"/>
			</figure>
			<h1 class="Header-title">Titulo pag Web</h1>
			<figure class="Header-avatarContainer">
				<img class="Header-avatar" src="../static/images/avatar.png"/>
			</figure>				
		</header>
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#">
						Python
					</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#">
						HTML5
					</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#">
						JavaScript
					</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#">
						CSS3
					</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#">
						Django
					</a>
				</li>
				<li class="MainMenu-item is-button">
					<a class="MainMenu-link is-linkButton icon-pen" href="#">
						Publicar
					</a>
				</li>
			</ul>
		</nav>
		<section class="Contenido">
			<article class="Contenido-item">
				<figure class="Contenido-itemImageContainer">
					<img class="Contenido-itemImage" src="../static/images/imagen.jpg"/>
				</figure>
				<h2 class="Contenido-itemTitle">
					<a class="Contenido-itemTitleLink" href="#">
						Titulo Articulo
					</a>	
				</h2>
				<p class="Contenido-itemAutor">
					por 
					<a class="Contenido-itemAutorLink" href="#">
						Autor
					</a>
				</p>
				<div class="Contenido-itemDatos">
					<a class="Contenido-itemCategoria" href="#">
						Categoria
					</a>
					<p class="Contenido-itemFecha">
						Hace 
						<strong>
							5
						</strong>
						 minutos
					</p>					
					
				</div>
				<div class="Contenido-itemVotacion">
					<a class="Contenido-itemUp icon-triangle-up" href="#">						
					</a>
					1234
					<a class="Contenido-itemDown icon-triangle-down" href="#">						
					</a>
					<a class="Contenido-itemComentarios" href="#">
						Numero comentarios
					</a>					
					<a class="Contenido-itemStar icon-star" href="#">						
					</a>
				</div>
			</article>
			<article class="Contenido-item">
				<figure class="Contenido-itemImageContainer">
					<img class="Contenido-itemImage" src="../static/images/imagen.jpg"/>
				</figure>
				<h2 class="Contenido-itemTitle">
					<a class="Contenido-itemTitleLink" href="#">
						Titulo Articulo
					</a>	
				</h2>
				<p class="Contenido-itemAutor">
					por 
					<a class="Contenido-itemAutorLink" href="#">
						Autor
					</a>
				</p>
				<div class="Contenido-itemDatos">
					<a class="Contenido-itemCategoria" href="#">
						Categoria
					</a>
					<p class="Contenido-itemFecha">
						Hace 
						<strong>
							5
						</strong>
						 minutos
					</p>					
					
				</div>
				<div class="Contenido-itemVotacion">
					<a class="Contenido-itemUp icon-triangle-up" href="#">						
					</a>
					1234
					<a class="Contenido-itemDown icon-triangle-down" href="#">						
					</a>
					<a class="Contenido-itemComentarios" href="#">
						Numero comentarios
					</a>					
					<a class="Contenido-itemStar icon-star" href="#">						
					</a>
				</div>
			</article>
			<article class="Contenido-item">
				<figure class="Contenido-itemImageContainer">
					<img class="Contenido-itemImage" src="../static/images/imagen.jpg"/>
				</figure>
				<h2 class="Contenido-itemTitle">
					<a class="Contenido-itemTitleLink" href="#">
						Titulo Articulo
					</a>	
				</h2>
				<p class="Contenido-itemAutor">
					por 
					<a class="Contenido-itemAutorLink" href="#">
						Autor
					</a>
				</p>
				<div class="Contenido-itemDatos">
					<a class="Contenido-itemCategoria" href="#">
						Categoria
					</a>
					<p class="Contenido-itemFecha">
						Hace 
						<strong>
							5
						</strong>
						 minutos
					</p>					
					
				</div>
				<div class="Contenido-itemVotacion">
					<a class="Contenido-itemUp icon-triangle-up" href="#">						
					</a>
					1234
					<a class="Contenido-itemDown icon-triangle-down" href="#">						
					</a>
					<a class="Contenido-itemComentarios" href="#">
						Numero comentarios
					</a>					
					<a class="Contenido-itemStar icon-star" href="#">						
					</a>
				</div>
			</article>
			<article class="Contenido-item">
				<figure class="Contenido-itemImageContainer">
					<img class="Contenido-itemImage" src="../static/images/imagen.jpg"/>
				</figure>
				<h2 class="Contenido-itemTitle">
					<a class="Contenido-itemTitleLink" href="#">
						Titulo Articulo
					</a>	
				</h2>
				<p class="Contenido-itemAutor">
					por 
					<a class="Contenido-itemAutorLink" href="#">
						Autor
					</a>
				</p>
				<div class="Contenido-itemDatos">
					<a class="Contenido-itemCategoria" href="#">
						Categoria
					</a>
					<p class="Contenido-itemFecha">
						Hace 
						<strong>
							5
						</strong>
						 minutos
					</p>					
					
				</div>
				<div class="Contenido-itemVotacion">
					<a class="Contenido-itemUp icon-triangle-up" href="#">						
					</a>
					1234
					<a class="Contenido-itemDown icon-triangle-down" href="#">						
					</a>
					<a class="Contenido-itemComentarios" href="#">
						Numero comentarios
					</a>					
					<a class="Contenido-itemStar icon-star" href="#">						
					</a>
				</div>
			</article>						
		</section>
		<footer class="Footer">
			<p class="Footer-Power">
				<strong>
					Powered By Mi
				</strong>
			</p>
			<p class="Footer-Copy">
				mejorando.la 2014
			</p>
		</footer>	 
	</body>
</html>